services:
  php-apache:
    image: php:8.2-apache
    container_name: php-apache
    volumes:
      - ./src:/var/www/html
    ports:
      - "8080:80"
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: projectdb
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3308:3307"

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    platform: linux/amd64       # FIX untuk Mac ARM
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root123
    ports:
      - "8081:80"
    depends_on:
      - mysql

volumes:
  db_data:
